<div class="jumbotron text-center">
  <div class="overlay">
  </div>
  <div class="background-image">
  </div>
  <div class="caption">
    <h1>Mongo Scraper</h1>
    <p>New York Times Edition</p>
  </div>
</div>

<div class="container-fluid" id="articleContainer">
  <div class="row">
    {{#each art}}
      <div class="card col-3" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{title}}</h5>
          <h6 class="card-subtitle mb-2 text-muted"><a href="{{link}}"/>{{link}}</a></h6>
          <p class="card-text">{{summary}}</p>
          <a href="#" class="btn btn-primary" id="notes">Article Notes</a>
          <a href="#" class="btn btn-danger">Delete From Saved</a>
        </div>
      </div>
    {{/each}}
  </div>
</div>